<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forword.car.dao.MainMapper">
<select id="getopenidisnull" parameterType="string" resultType="string">
 select t.sessionid from wx_yhxx t where t.openid=#{openid,jdbcType=VARCHAR}
</select>
<update id="updateYhxx" parameterType="string">
 update wx_yhxx t set t.wxname=#{nickName,jdbcType=VARCHAR},
 t.avatarurl=#{avatarUrl,jdbcType=VARCHAR},
 t.sessionid=#{sesionnid,jdbcType=VARCHAR} 
 <where>
   t.openid=#{oppenid,jdbcType=VARCHAR}
   and t.yxbz='Y'
 </where>
</update>
<select id="selectOpen_mybyKey" parameterType="String" resultType="string">
select min_key from open_my where min_key=#{key,jdbcType=VARCHAR} and yxbz='Y'
</select>
<insert id="insertYhxx" parameterType="com.forword.car.entity.ParaEntity">
	insert into wx_yhxx(openid,avatarurl,wxname,sessionid,min_key)
	SELECT t.openid,t.avatarurl,t.wxname,t.sessionid,#{str2,jdbcType=VARCHAR} from wx_yhxx_yk t
	where t.sessionid=#{str1,jdbcType=VARCHAR}
</insert>
<update id="deleteOpen_mybyKey" parameterType="string">
update  open_my set yxbz='N' where min_key=#{key,jdbcType=VARCHAR}
</update>
<select id="selectYhxxyk" parameterType="string" resultType="string">
 select t.sessionid from wx_yhxx_yk t where t.openid=#{openid,jdbcType=VARCHAR}
</select>
<insert id="insertYhxxyk" parameterType="com.forword.car.entity.ParaEntity">
 insert into wx_yhxx_yk(openid,avatarurl,wxname,sessionid,min_key)
 values(#{str1,jdbcType=VARCHAR},#{str2,jdbcType=VARCHAR},
 #{str3,jdbcType=VARCHAR},#{str4,jdbcType=VARCHAR},#{str5,jdbcType=VARCHAR})
</insert>
<delete id="deleteYhxxyk" parameterType="string">
delete from wx_yhxx_yk where sessionid=#{key,jdbcType=VARCHAR}
</delete>
<select id="getopenidyk" parameterType="string" resultType="string">
    select t.sessionid from wx_yhxx_yk t where t.openid=#{openid,jdbcType=VARCHAR}
</select>
<select id="selectOpenidBysessionid" parameterType="map">
select t.openid,t.wxname,t.avatarurl from wx_yhxx t where t.sessionid=#{sid,jdbcType=VARCHAR}
</select>
<select id="glyLogin" parameterType="string" resultType="map">
select t.userpass,t.glybz from glydlxx t where t.username=#{str1,jdbcType=VARCHAR} and t.yxbz='Y'
</select>
</mapper>