<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forword.car.dao.tmxgMapper">
	<select id="selectxckmy" parameterType="string" resultType="map">
		SELECT * FROM xckmy t where t.questionTitle like
		#{str1,jdbcType=VARCHAR} order by t.uuid
	</select>
	<update id="insertxckmy" parameterType="com.forword.car.entity.kmtmEntity">
		update xckmy t set
		t.questionTitle= #{questionTitle,jdbcType=VARCHAR},
		t.questionItems=
		#{questionItems,jdbcType=VARCHAR},
		t.questionAnswer=
		#{questionAnswer,jdbcType=VARCHAR},
		t.questionSkills=
		#{questionSkills,jdbcType=VARCHAR},
		t.answerAnalysis=
		#{answerAnalysis,jdbcType=VARCHAR},
		t.tmxzlx=
		#{tmxzlx,jdbcType=VARCHAR},
		t.questionImg=
		#{questionImg,jdbcType=VARCHAR}
		where t.uuid=#{uuid,jdbcType=INTEGER}
	</update>

	<select id="selectxckms" parameterType="string" resultType="map">
		SELECT * FROM xckms t where t.questionTitle like
		#{str1,jdbcType=VARCHAR} order by t.uuid
	</select>
	<update id="insertxckms" parameterType="com.forword.car.entity.kmtmEntity">
		update xckms t set
		t.questionTitle= #{questionTitle,jdbcType=VARCHAR},
		t.questionItems=
		#{questionItems,jdbcType=VARCHAR},
		t.questionAnswer=
		#{questionAnswer,jdbcType=VARCHAR},
		t.questionSkills=
		#{questionSkills,jdbcType=VARCHAR},
		t.answerAnalysis=
		#{answerAnalysis,jdbcType=VARCHAR},
		t.tmxzlx=
		#{tmxzlx,jdbcType=VARCHAR},
		t.questionImg=
		#{questionImg,jdbcType=VARCHAR}
		where t.uuid=#{uuid,jdbcType=INTEGER}
	</update>

	<select id="selecthckmy" parameterType="string" resultType="map">
		SELECT * FROM hckmy t where t.questionTitle like
		#{str1,jdbcType=VARCHAR} order by t.uuid
	</select>
	<update id="inserthckmy" parameterType="com.forword.car.entity.kmtmEntity">
		update hckmy t set
		t.questionTitle= #{questionTitle,jdbcType=VARCHAR},
		t.questionItems=
		#{questionItems,jdbcType=VARCHAR},
		t.questionAnswer=
		#{questionAnswer,jdbcType=VARCHAR},
		t.questionSkills=
		#{questionSkills,jdbcType=VARCHAR},
		t.answerAnalysis=
		#{answerAnalysis,jdbcType=VARCHAR},
		t.tmxzlx=
		#{tmxzlx,jdbcType=VARCHAR},
		t.questionImg=
		#{questionImg,jdbcType=VARCHAR}
		where t.uuid=#{uuid,jdbcType=INTEGER}
	</update>


	<select id="selecthckms" parameterType="string" resultType="map">
		SELECT * FROM hckms t where t.questionTitle like
		#{str1,jdbcType=VARCHAR} order by t.uuid
	</select>
	<update id="inserthckms" parameterType="com.forword.car.entity.kmtmEntity">
		update hckms t set
		t.questionTitle= #{questionTitle,jdbcType=VARCHAR},
		t.questionItems=
		#{questionItems,jdbcType=VARCHAR},
		t.questionAnswer=
		#{questionAnswer,jdbcType=VARCHAR},
		t.questionSkills=
		#{questionSkills,jdbcType=VARCHAR},
		t.answerAnalysis=
		#{answerAnalysis,jdbcType=VARCHAR},
		t.tmxzlx=
		#{tmxzlx,jdbcType=VARCHAR},
		t.questionImg=
		#{questionImg,jdbcType=VARCHAR}
		where t.uuid=#{uuid,jdbcType=INTEGER}
	</update>

	<select id="selectkckms" parameterType="string" resultType="map">
		SELECT * FROM kckms t where t.questionTitle like
		#{str1,jdbcType=VARCHAR} order by t.uuid
	</select>
	<update id="insertkckms" parameterType="com.forword.car.entity.kmtmEntity">
		update kckms t set
		t.questionTitle= #{questionTitle,jdbcType=VARCHAR},
		t.questionItems=
		#{questionItems,jdbcType=VARCHAR},
		t.questionAnswer=
		#{questionAnswer,jdbcType=VARCHAR},
		t.questionSkills=
		#{questionSkills,jdbcType=VARCHAR},
		t.answerAnalysis=
		#{answerAnalysis,jdbcType=VARCHAR},
		t.tmxzlx=
		#{tmxzlx,jdbcType=VARCHAR},
		t.questionImg=
		#{questionImg,jdbcType=VARCHAR}
		where t.uuid=#{uuid,jdbcType=INTEGER}
	</update>

	<select id="selectkckmy" parameterType="string" resultType="map">
		SELECT * FROM kckmy t where t.questionTitle like
		#{str1,jdbcType=VARCHAR} order by t.uuid
	</select>
	<update id="insertkckmy" parameterType="com.forword.car.entity.kmtmEntity">
		update kckmy t set
		t.questionTitle= #{questionTitle,jdbcType=VARCHAR},
		t.questionItems=
		#{questionItems,jdbcType=VARCHAR},
		t.questionAnswer=
		#{questionAnswer,jdbcType=VARCHAR},
		t.questionSkills=
		#{questionSkills,jdbcType=VARCHAR},
		t.answerAnalysis=
		#{answerAnalysis,jdbcType=VARCHAR},
		t.tmxzlx=
		#{tmxzlx,jdbcType=VARCHAR},
		t.questionImg=
		#{questionImg,jdbcType=VARCHAR}
		where t.uuid=#{uuid,jdbcType=INTEGER}
	</update>

	<update id="updatekmimgxckmy" parameterType="com.forword.car.entity.ParaEntity">
		update xckmy t set
		t.questionImg=#{str3,jdbcType=VARCHAR} where
		t.uuid=#{int1,jdbcType=INTEGER}
	</update>
	<update id="updatekmimgxckms" parameterType="com.forword.car.entity.ParaEntity">
		update xckms t set
		t.questionImg=#{str3,jdbcType=VARCHAR} where
		t.uuid=#{int1,jdbcType=INTEGER}
	</update>
	<update id="updatekmimghckmy" parameterType="com.forword.car.entity.ParaEntity">
		update hckmy t set
		t.questionImg=#{str3,jdbcType=VARCHAR} where
		t.uuid=#{int1,jdbcType=INTEGER}
	</update>
	<update id="updatekmimghckms" parameterType="com.forword.car.entity.ParaEntity">
		update hckms t set
		t.questionImg=#{str3,jdbcType=VARCHAR} where
		t.uuid=#{int1,jdbcType=INTEGER}
	</update>
	<update id="updatekmimgkckmy" parameterType="com.forword.car.entity.ParaEntity">
		update kckmy t set
		t.questionImg=#{str3,jdbcType=VARCHAR} where
		t.uuid=#{int1,jdbcType=INTEGER}
	</update>
	<update id="updatekmimgkckms" parameterType="com.forword.car.entity.ParaEntity">
		update kckms t set
		t.questionImg=#{str3,jdbcType=VARCHAR} where
		t.uuid=#{int1,jdbcType=INTEGER}
	</update>
		<select id="selectUserByusername" parameterType="string" resultType="map">
		SELECT * FROM glydlxx t where t.username like
		#{username,jdbcType=VARCHAR} order by t.sjsj desc
	</select>
	
	<update id="updateGlyzt" parameterType="com.forword.car.entity.userEntity">
		 update glydlxx
        <trim prefix="SET" suffixOverrides=",">
            <if test="userpass != null  ">userpass = #{userpass},</if>
            <if test="yxbz != null  ">yxbz = #{yxbz},</if>
            <if test="glybz != null  ">glybz = #{glybz},</if>
            <if test="bz != null  ">bz = #{bz},</if>
        </trim>
        where username = #{username}
	</update>
	<insert id="insertUser" parameterType="com.forword.car.entity.userEntity">
		insert into glydlxx(username,userpass,glybz,bz,sjsj) 
		values(#{username,jdbcType=VARCHAR},
		#{userpass,jdbcType=VARCHAR},
		#{glybz,jdbcType=VARCHAR},
		#{bz,jdbcType=VARCHAR},#{sjsj})
	</insert>
	<delete id="deleteByUserName" parameterType="string">
	delete from glydlxx where username=#{username,jdbcType=VARCHAR}
	</delete>
		<select id="selectUserqdByusername" parameterType="string" resultType="map">
		SELECT t.*,t1.lrry,t.yxbz yxbz1 FROM wx_yhxx t LEFT JOIN open_my t1 on  t.min_key=t1.min_key where t.wxname like
		#{username,jdbcType=VARCHAR} order by t.sjsj desc
	</select>
	<update id="updateYhxxbyopenid" parameterType="string">
	 update wx_yhxx set yxbz=#{yxbz,jdbcType=VARCHAR} where openid=#{opneid,jdbcType=VARCHAR} 	
	 </update>
	 <select id="selectUserKm" parameterType="string" resultType="map">
	 select * from open_my t where t.lrry like #{username,jdbcType=VARCHAR} order by sjsj desc
	 </select>
	 <delete id="deleteOpenByKm" parameterType="string">
	 delete from open_my where min_key=#{min_key,jdbcType=VARCHAR}
	 </delete>
</mapper>