<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forword.car.dao.tmxgMapper">
	<select id="selectTMall" parameterType="string" resultType="map">
	  SELECT * FROM  xckmy t where t.questionTitle like 
	  #{str1,jdbcType=VARCHAR} order by t.uuid
	</select>
	<update id="insertKm" parameterType="com.forword.car.entity.kmtmEntity">
	    update xckmy t set 
	    t.questionTitle= #{questionTitle,jdbcType=VARCHAR},
	    t.questionItems= #{questionItems,jdbcType=VARCHAR},
	    t.questionAnswer= #{questionAnswer,jdbcType=VARCHAR},
	    t.questionSkills= #{questionSkills,jdbcType=VARCHAR},
	    t.answerAnalysis= #{answerAnalysis,jdbcType=VARCHAR},
	    t.tmxzlx= #{tmxzlx,jdbcType=VARCHAR}
	    where t.uuid=#{uuid,jdbcType=INTEGER}
	</update>
</mapper>