<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forword.car.dao.xcMapper">
	<select id="getKmydata" parameterType="com.forword.car.entity.ParaEntity"
		resultType="map">
		SELECT t.tmxzlx,
		t.uuid,t.questionTitle,t.questionItems,t.questionAnswer,t.questionSkills,t.answerAnalysis,t.questionImg
		FROM xckmy t where t.tmlx=#{str1,jdbcType=VARCHAR}
		order by t.uuid
		limit #{int1,jdbcType=INTEGER},#{int2,jdbcType=INTEGER}
	</select>
	<select id="getKmsdata" parameterType="com.forword.car.entity.ParaEntity"
		resultType="map">
		SELECT t.tmxzlx,
		t.uuid,t.questionTitle,t.questionItems,t.questionAnswer,t.questionSkills,t.answerAnalysis,t.questionImg
		FROM xckms t where 1=1
		order by t.uuid
		limit #{int1,jdbcType=INTEGER},#{int2,jdbcType=INTEGER}
	</select>
	<select id="selectScdtByuuidandsclx" parameterType="com.forword.car.entity.ParaEntity"
		resultType="string">
		select t.uuid from tk_sc t where
		t.tkuuid=#{int1,jdbcType=INTEGER}
		and t.sclx=#{str2,jdbcType=VARCHAR}
		and t.openid=#{str1,jdbcType=VARCHAR}
	</select>
	<insert id="insertScdt" parameterType="com.forword.car.entity.ParaEntity">
		insert into
		tk_sc(openid,tkuuid,sclx)
		values(#{str1,jdbcType=VARCHAR},#{int1,jdbcType=INTEGER},#{str2,jdbcType=VARCHAR})
	</insert>
	<select id="selectbtcwByuuidandsclx" resultType="string"
		parameterType="com.forword.car.entity.ParaEntity">
		select t.uuid from tk_cw t where
		t.tkuuid=#{int1,jdbcType=INTEGER} and
		t.cwlx=#{str2,jdbcType=VARCHAR}
		and t.openid=#{str1,jdbcType=VARCHAR}
	</select>
	<insert id="inserttkcw" parameterType="com.forword.car.entity.ParaEntity">
		insert into
		tk_cw(openid,tkuuid,cwlx)
		values(#{str1,jdbcType=VARCHAR},#{int1,jdbcType=INTEGER},#{str2,jdbcType=VARCHAR})
	</insert>
	<delete id="deleteScdtByuuidandsclx" parameterType="com.forword.car.entity.ParaEntity">
		delete from
		tk_sc t where t.tkuuid=#{int1,jdbcType=INTEGER}
		and
		t.sclx=#{str2,jdbcType=VARCHAR}
		and t.openid=#{str1,jdbcType=VARCHAR}
	</delete>
	<select id='selectKmyAndKmsScCount' parameterType="string"
		resultType="map">
		select sum(CASE
		WHEN t.sclx='A' THEN
		1
		ELSE
		0
		END
		)
		kmysc,sum(CASE
		WHEN t.sclx='A1' THEN
		1
		ELSE
		0
		END
		) kmssc from tk_sc t where
		t.openid=#{openid,jdbcType=VARCHAR}
	</select>
	<select id='selectKmyAndKmsCtCount' parameterType="string"
		resultType="map">
		select sum(CASE
		WHEN t.cwlx='A' THEN
		1
		ELSE
		0
		END
		)
		kmyct,sum(CASE
		WHEN t.cwlx='A1' THEN
		1
		ELSE
		0
		END
		) kmsct from tk_cw t where
		t.openid=#{openid,jdbcType=VARCHAR}
	</select>
	<select id="kmyMnks" parameterType="string" resultType="map">
		SELECT
		t.tmxzlx,
		t.uuid,t.questionTitle,t.questionItems,t.questionAnswer,t.questionSkills,t.answerAnalysis,t.questionImg
		from (SELECT * FROM xckmy order by rand() limit 100) t
		order by
		LENGTH(t.questionItems) asc
	</select>
	<select id="kmsMnks" parameterType="string" resultType="map">
		SELECT
		t.tmxzlx,
		t.uuid,t.questionTitle,t.questionItems,t.questionAnswer,t.questionSkills,t.answerAnalysis,t.questionImg
		from (SELECT * FROM xckms order by rand() limit 100) t
		order by
		LENGTH(t.questionItems) asc
	</select>
	<select id="getKmyDycsdata" parameterType="com.forword.car.entity.ParaEntity"
		resultType="map">
		SELECT t.tmxzlx,
		t.uuid,t.questionTitle,t.questionItems,t.questionAnswer,t.questionSkills,t.answerAnalysis,t.questionImg
		from (SELECT * FROM xckmy where tmlx=#{str1,jdbcType=VARCHAR} order by
		rand() limit #{int1,jdbcType=INTEGER},#{int2,jdbcType=INTEGER}) t
		order by
		LENGTH(t.questionItems) asc
	</select>
		<select id="getKmsDycsdata" parameterType="com.forword.car.entity.ParaEntity"
		resultType="map">
		SELECT t.tmxzlx,
		t.uuid,t.questionTitle,t.questionItems,t.questionAnswer,t.questionSkills,t.answerAnalysis,t.questionImg
		from (SELECT * FROM xckms where 1=1 order by
		rand() limit #{int1,jdbcType=INTEGER},#{int2,jdbcType=INTEGER}) t
		order by
		LENGTH(t.questionItems) asc
	</select>
	<select id="getkmySclist" parameterType="com.forword.car.entity.ParaEntity"
		resultType="map">
		select t.* from xckmy t,tk_sc t1 where t.uuid=t1.tkuuid and
		t1.openid=#{str1,jdbcType=VARCHAR}
		and t1.sclx=#{str2,jdbcType=VARCHAR}
		order by
		LENGTH(t.questionItems) asc
	</select>
	<select id="getkmsSclist" parameterType="com.forword.car.entity.ParaEntity"
		resultType="map">
		select t.* from xckms t,tk_sc t1 where t.uuid=t1.tkuuid and
		t1.openid=#{str1,jdbcType=VARCHAR}
		and t1.sclx=#{str2,jdbcType=VARCHAR}
		order by
		LENGTH(t.questionItems) asc
	</select>
	<select id="getkmyCwlist" parameterType="com.forword.car.entity.ParaEntity"
		resultType="map">
		select t.* from xckmy t,tk_cw t1 where t.uuid=t1.tkuuid and
		t1.openid=#{str1,jdbcType=VARCHAR}
		and t1.cwlx=#{str2,jdbcType=VARCHAR}
		order by
		LENGTH(t.questionItems) asc
	</select>
		<select id="getkmsCwlist" parameterType="com.forword.car.entity.ParaEntity"
		resultType="map">
		select t.* from xckms t,tk_cw t1 where t.uuid=t1.tkuuid and
		t1.openid=#{str1,jdbcType=VARCHAR}
		and t1.cwlx=#{str2,jdbcType=VARCHAR}
		order by
		LENGTH(t.questionItems) asc
	</select>
	<delete id="deleteByOPenidSc" parameterType="com.forword.car.entity.ParaEntity">
		DELETE FROM tk_sc t where t.tkuuid=#{str1,jdbcType=VARCHAR} and
		t.sclx=#{str3,jdbcType=VARCHAR}
		and t.openid=#{str4,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByOPenidCw" parameterType="com.forword.car.entity.ParaEntity">
		DELETE FROM tk_cw t where t.tkuuid=#{str1,jdbcType=VARCHAR} and
		t.cwlx=#{str3,jdbcType=VARCHAR}
		and t.openid=#{str4,jdbcType=VARCHAR}
	</delete>
</mapper>