.warp {
	height: 100%;
	min-height: 100%;
	position: relative;
	overflow: auto;
}
* {
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 13pt;
}
.cx_top{
	margin-top: 10px;
}
.layui-input-inline_zdy{
	width: 130px;
}
.layui-form-item-zdy{
	width: 500px;
	text-align: center;
	margin-left: 70px;
}